@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model List<Portfolio.Entity.Entities.Experience>


<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Experience List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>JobTitle</th>
                    <th>JobDescription</th>
                    <th>Company</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>IsVisible</th>
                    <th>Image</th>
                    <th>Image URL</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.JobTitle</td>
                        <td>@item.JobDescription</td>
                        <td>@item.Company</td>
                        <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
                        <td>@item.EndDate.ToString("dd.MM.yyyy")</td>
                        <td>@item.IsVisible</td>
                        <td>
                            @if(item.Image != null && item.Image.Length > 0)
                            {
                                var base64Image = Convert.ToBase64String(item.Image);
                                <img src="data:image/png;base64,@base64Image" alt="@item.JobTitle" width="50" />
                            }
                            else
                            {
                                <span>No image</span>
                            }
                        </td>
                        <td>
                            @if (item.ImageUrl != null)
                            {
                                <img src="@item.ImageUrl" width="50" />
                            }
                            else
                            {
                                <span>No Image URL</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-info" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>