@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainLayout";
}
@model List<Portfolio.Entity.Entities.Skill>


<a class="btn text-end btn-outline-info m-3" asp-action="Create" asp-controller="Skill">Add Skill</a>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Skill Name</th>
            <th scope="col">Image Url</th>
            <th scope="col">Svg Data</th>
            <th scope="col">Is Visible</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>@skill.SkillName</td>
                <td>@skill.ImageUrl</td>
                <td>@Html.Raw(@skill.SvgData)</td>
                <td>@skill.IsVisible</td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Skill" asp-route-id="@skill.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Skill" asp-route-id="@skill.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>


